/* Amirah Elgendy - Payment/Subscription CSS */ 


h1{
    text-align: center;
}

.row {
    display: flex;
    text-align: center;
}

.column {
    flex: 33.33%;
    height: 500px;
    padding: 10px;
    text-align: center;
    
    border: 1px solid;
    /*border-radius: 25px;*/
    background-color: #FFC300; 
}
