/* Amirah Elgendy - Payment/Subscription CSS */ 

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    float: left;
    height: 500px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
